{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled selected>Symbol</option>
                    {% for possiblestock in possiblestocks %}
                        <option value = "{{ possiblestock["symbol"] }}">{{ possiblestock["symbol"] }}</option>
                    {% endfor %}
            </select>
            <input autocomplete="off" autofocus="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}